{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Company Name</th>
                <th scope="col">shares</th>
                <th scope="col">price</th>
                <th scope="col">Total</th>
                <th scope="col">LTP</th>
                <th scope="col">Profit/Loss</th>
                <th scope="col">Button</th>
                <th scope="col">Chart</th>
            </tr>
        </thead>
        <tbody>
            {% for x in portfolio %}
                <tr>
                    <td>{{ x["symbol"]}}</td>
                    <td>{{ x["name"] }}</td>
                    <td>{{ x["share"] }}</td>
                    <td>{{ x["price"] }}</td>
                    <td>{{ x["total"] | usd }}</td>
                    <td>{{ x["ltp"] }}</td>
                    {% if x["gain"] > 0 %}
                        <td style="color:green;">+{{ x["gain"] }}</td>
                    {% elif x["gain"] == 0 %}
                        <td>{{ x["gain"] }}</td>
                    {% else %}
                        <td style="color:red;">{{ x["gain"] }}</td>
                    {% endif %}
                    <td><button class="btn btn-success" style="margin:2%;"><a href="/buy" >B</a></button><button class="btn btn-danger" style="margin:0 2%;"><a href="/sell" >S</a></button></td>
                    <td>
                        <form action="/chart" >
                            <input name="symbol" type="hidden" value="{{x["symbol"]}}">
                            <button type="submit" class="btn btn-primary">Chart</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th scope="row">$</th>
                <td colspan="1" class="cash">Cash:</td>
                <td></td>
                <td></td>
                <td colspan="" class="cash">{{ cash[0]["cash"] | usd }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div class="add-cash">
        <a href="/addcash">Add Cash</a>
    </div>
{% endblock %}
